target/
.cache
project/project
project/target
*.log
data/
tmp/
logs/
*.sh
RELEASE_NOTES.md
.bumpversion.cfg
.scalafmt

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
.idea_modules
*.iml
*.iws

private/

